@model Jobs.Models.KHACHHANG

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Đổi mật khẩu
}

<section class="hero-banner d-flex align-items-center">
    <div class="container text-center">
        <h2>Đổi mật khẩu</h2>
    </div>
</section>

<section class="pricing_area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post))
                {
                    <div class="mt-10">
                        @Html.TextBoxFor(Model => Model.MatKhauKH, new { type = "password", @class = "single-input", @placeholder = "Nhập mật khẩu cũ" })
                        @Html.Raw(ViewBag.oldPassword)
                        @Html.Raw(ViewBag.incorrectOldPassword)
                    </div>
                    <div class="mt-10">
                        <input type="password" name="new_password" placeholder="Nhập mật khẩu mới" class="single-input">
                        @Html.Raw(ViewBag.newPassword)
                    </div>
                    <div class="mt-10">
                        <input type="password" name="re_new_password" placeholder="Nhập lại mật khẩu mới" class="single-input">
                        @Html.Raw(ViewBag.reNewPassword)
                        @Html.Raw(ViewBag.incorrectNewPassword)
                    </div>
                    @Html.Raw(ViewBag.incorrect)
                    <div class="mt-10">
                        <button class="genric-btn success-border radius">Đổi mật khẩu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>